.btn {
    height: 20px;
    background: $main-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 12px 20px;
}

.btn2 {
    height: 20px;
    background: transparent;
    border: none;
    padding: 12px 20px;
}